:root {
  --text-color: #e6be94;
}

body {
  font-size: 24;
  font-family: url(res://assets/Fredoka-Bold.ttf);
}

VBoxContainer, HBoxContainer {
  gap: 8;
}

PanelContainer {
  background: #483911;
  border-radius: 6;
}

Label {
  color: var(--text-color);
}

Label.outlined {
  --const-outline-size: 12;
  --colors-font-outline-color: #000;
}

Label.title {
  font-size: 48;
}

Label.large {
  font-size: 32;
}

ProgressBar {
  --styles-background-type: Flat;
  --styles-background-bg-color: #2d2d2d;
  --styles-fill-type: Flat;
  --styles-fill-bg-color: #ffffff;
}

Button, PanelContainer.text-button {
  background: #59452e;
}

Button:hover, Button:pressed, Button:focus, PanelContainer.text-button-focused {
  background: #8f624a;
}

Button, Button:hover, Button:pressed, Button:focus {
  color: var(--text-color);
  padding: 8;
}