body {
  font-size: 20;
}

VBoxContainer, HBoxContainer {
  gap: 4;
}

PanelContainer {
  background: #333;
  border-radius: 6;
}

Label.outlined {
  --const-outline-size: 12;
  --colors-font-outline-color: #000;
}

ProgressBar {
  --styles-background-type: Flat;
  --styles-background-bg-color: #2d2d2d;
  --styles-fill-type: Flat;
  --styles-fill-bg-color: #ffffff;
}